main {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  height: 80%;
  gap: 50px;
}

.left-controls,
.right-controls {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
}

.world-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.map-graph {
  border: 2px solid black;
}
