<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        CARLA Web GUI - {% block title %}{% endblock %} | Mateus Aleixo
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="MateusAleixo" />
    <link rel="icon" href="../../static/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/assets/css/style.css" />
    <link rel="stylesheet" href="../../static/assets/css/dark.css" />

    {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>
    {% block content %}{% endblock content %}

    <label class="d-none">
        <i class="icon feather icon-sun" id="theme-indicator"></i>
        <input type="checkbox" id="theme-switch" class="d-none" />
    </label>
    {% include 'includes/scripts.html' %}
    {% block javascripts %}{% endblock javascripts %}
</body>

</html>