<!DOCTYPE html>
<html lang="en" id="htmlTheme" {% block theme %}{% endblock theme %}>

<head>
  <title>
    CARLA Web GUI - {% block title %}{% endblock title %} | Mateus Aleixo
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="MateusAleixo" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="icon" href="{{ url_for('static', filename='assets/images/icons/favicon.ico') }}" type="image/x-icon" />
  {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>
  <header class="navbar navbar-expand-lg bd-navbar sticky-top">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
      <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Home">
        <img src="{{ url_for('static', filename='assets/images/icons/favicon.ico') }}" alt="Logo" style="height: 2.5rem"
          title="Home" />
      </a>

      <h1 class="d-none d-lg-block" style="margin: 1rem">
        <a href="/" style="text-decoration: none; color: inherit">CARLA Web UI</a>
      </h1>

      <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar"
        aria-labelledby="bdNavbarOffcanvasLabel" data-bs-scroll="true">
        <div class="offcanvas-body p-4 pt-0 p-lg-0">
          <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="https://github.com/mateus-aleixo/carla-webui" target="_blank"
                rel="noopener" style="margin-top: 0.25rem">
                <svg xmlns="http://www.w3.org/2000/svg" style="height: 2.5rem" class="navbar-nav-svg"
                  viewBox="0 0 512 499.36" role="img">
                  <title>GitHub</title>
                  <path fill="currentColor" fill-rule="evenodd"
                    d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z">
                  </path>
                </svg>
                <small class="d-lg-none ms-2">GitHub</small>
              </a>
            </li>

            <li class="nav-item dropdown">
              <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static"
                aria-label="Toggle theme">
                <img id="selectedThemeLogo" src="
                              {% if theme == 'dark' %}
                                  {{ url_for('static', filename='assets/images/icons/moon.ico') }}
                              {% else %}
                                  {{ url_for('static', filename='assets/images/icons/sun.ico') }}
                              {% endif %}
                              " alt="Toggle theme" class="bi my-1 theme-icon-active" style="height: 2.5rem" />
                <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
              </button>

              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                <li>
                  <button id="lightButton" type="button"
                    class="dropdown-item d-flex align-items-center {% if theme == 'light' %} active {% endif %}"
                    onclick="changeTheme('light')">
                    <img src="{{ url_for('static', filename='assets/images/icons/sun.ico') }}" alt="Light"
                      class="bi me-2 opacity-50" style="height: 1rem" />
                    Light
                  </button>
                </li>
                <li>
                  <button id="darkButton" type="button"
                    class="dropdown-item d-flex align-items-center {% if theme == 'dark' %} active {% endif %}"
                    onclick="changeTheme('dark')">
                    <img src="{{ url_for('static', filename='assets/images/icons/moon.ico') }}" alt="Dark"
                      class="bi me-2 opacity-50" style="height: 1rem" />
                    Dark
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {% block content %}{% endblock content %}
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <img id="liveFrame" src="{{ url_for('views.video_feed') }}" alt="Live CARLA Stream">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <script>
    function changeTheme(theme) {

      if (theme === "dark") {
        document
          .getElementById("htmlTheme")
          .setAttribute("data-bs-theme", "dark");
        document
          .getElementById("selectedThemeLogo")
          .setAttribute("src", "{{ url_for('static', filename='assets/images/icons/moon.ico') }}");
        document
          .getElementById("darkButton")
          .classList.add("active");
        document
          .getElementById("lightButton")
          .classList.remove("active");
      } else {
        document
          .getElementById("htmlTheme")
          .setAttribute("data-bs-theme", "light");
        document
          .getElementById("selectedThemeLogo")
          .setAttribute("src", "{{ url_for('static', filename='assets/images/icons/sun.ico') }}");
        document
          .getElementById("lightButton")
          .classList.add("active");
        document
          .getElementById("darkButton")
          .classList.remove("active");
      }

      localStorage.setItem("selectedTheme", theme);
    }

    window.onload = function () {
      var selectedTheme = localStorage.getItem("selectedTheme");

      if (selectedTheme) {
        changeTheme(selectedTheme);
      }
    };
  </script>
  {% block javascripts %}{% endblock javascripts %}
</body>

</html>